#showSearchDataSection {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
    width: 95%;
    margin: auto;
}

#showSearchDataSection>div {
    position: relative;
    z-index: -1;
    display: flex;
}

#showSearchDataSection>div>img {
    width: 100%;
}

#showSearchDataSection>div>div {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #24292f;
    color: white;
    width: 100%;
}

#showSearchDataSection>div>div h1 {
    text-align: center;
}

#showSearchDataSection>div>div p {
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
}

/* 
#showSearchDataSection>div>img:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
} */