#showSearchNewsDataSection {
    width: 95%;
    margin: auto;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

#searchNews {
    height: 600px;
    position: sticky;
    top: 105px;
    left: 0;
}

#searchNews>div {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
    margin: 10px auto 40px auto;
}

#searchNews>div label {
    font-size: 16px;
    font-weight: 600;
}

#searchNews>div p {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

#searchNews>div input,
#searchNews>div select {
    font-size: 16px;
    padding: 5px 10px;
    outline: none;
    border: 1px solid gray;
    border-radius: 5px;
}

#searchNews>div input[type="submit"] {
    background: none;
    cursor: pointer;
}

#showSearchNewsData {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 0 5px;
}

#showSearchNewsData>div {
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
}

#showSearchNewsData>div img {
    width: 100%;
    height: 180px;
}

#showSearchNewsData>div>div>h2 {
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.3px;
    margin: 2px 5px 5px 5px;
}

#showSearchNewsData>div>div>p {
    font-size: 14px;
    letter-spacing: 0.3px;
    margin: 2px 5px 5px 5px;
    color: gray;
}

#showSearchNewsData>div>span {
    position: absolute;
    padding: 3px 6px;
    border-radius: 5px;
    background-color: #090103;
    color: #db0923;
    width: auto;
    top: 5px;
    right: 5px;
    font-size: 12px;
}

#showNewsOneINOneSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: white;
    display: none;
    background-color: #000000cb;
    z-index: 6;
}

#showNewsOneINOneSection>div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: auto;
    gap: 20px;
}

#showNewsOneINOneSection>p {
    font-size: 50px;
    padding: 25px;
    color: rgb(255, 0, 0);
    text-align: center;
    cursor: pointer;
}

#showNewsOneINOneDiv>img {
    width: 100%;
}

#showNewsOneINOneDiv>div>p {
    margin: 15px 0;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 15px 0;
}