* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

section {
    min-width: 1024px;
    max-width: 1680px;
}

#navbarSection {
    width: 100%;
    height: 112px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 5;
}

#navbarSection>div {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 25px;
}

#navbarTopPart {
    height: 66px;
    justify-content: space-between;
}

#navbarTopPart>img:first-child {
    height: 35px;
}

#navbarBottomPart {
    height: 46px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

#navbarTopPart form {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    height: 40px;
    border-radius: 25px;
    padding: 0 10px;
}

#navbarTopPart form img {
    cursor: pointer;
    width: 20px;
    margin: 0 10px;
}

#navbarTopPart form input[type="submit"] {
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1;
    font-size: 50px;
    border-radius: 50%;
    font-weight: 500;
    color: #e31b46;
    transform: rotate(100deg);
    margin: 5px;
}

#navbarTopPart form input[type="text"] {
    font-size: 16px;
    padding: 5px 10px;
    width: 415px;
    border: none;
    outline: none;
    background: none;
    border-right: 1px solid gray;
}

#navbarBottomPart {
    display: flex;
    align-items: center;
    gap: 20px;

}

#navbarBottomPart a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #5f6368;
}

#navbarBottomPart a svg {
    height: 15px;
}