#translatePartSection {
    width: 90%;
    margin: auto;
    display: flex;
    gap: 20px;
    margin-top: 25px;
}

#translatePartSection>div {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#translatePartSection>div select {
    font-size: 16px;
    padding: 3px 10px;
    font-weight: 600;
    letter-spacing: 1px;
    border-radius: 5px;
    border: 1px solid rgb(158, 158, 158);
}

#translatePartSection>div textarea {
    border: 1px solid rgb(158, 158, 158);
    border-radius: 5px;
    font-size: 16px;
    padding: 3px 10px;
    letter-spacing: 1px;
    color: black;
}

#translatePartSection>div>div {
    display: flex;
    justify-content: end;
    padding-right: 25px;
    gap: 25px;
}

#translatePartSection>div img {
    height: 25px;
}